#cover { max-height:300px; }
#cover2 { max-height:200px; }
#background { max-height: 200px; }
#shadow {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

body {
  margin: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

button {
  height: auto;
  font-size: inherit;
  line-height: inherit;
  border: 0px;
}

#index .container-fluid {
  background: rgba(255,255,255,0.6);
  height: 100%;
}

#index .container {
  height: 100%;
}

.risked {
  text-decoration: line-through red;
}

.blue {
  background: #0266ae;
  color: white;
  min-height: 340px;
  margin-bottom: 1em;
}

.mountain {
  background: url('../assets/img/mountain.png');
  background-size: cover;
  color: white;
  min-height: 340px;
  margin-bottom: 1em;

}

.running {
  background: url('../assets/img/running.png');
  background-size: cover;
  color: white;
  min-height: 340px;
  margin-bottom: 1em;
}

.overlay {
  min-height: 75px;
  background: rgba(0, 0, 0, 0.7);
  height: 100% !important;
  width: 100% !important;
}

.blue-high {
  background: #0266ae;
  color: white;
  min-height: 500px;
  margin-bottom: 1em;
  /* margin: 1em 0em; */
}

.title {
  margin-left: 140px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.title-under {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 110px !important;
}

.text {
  margin-top: 120px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.blue-gradient {
  background-image: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
  margin-left: 20px;
  width: 95px;
  height: 106px;
  color: white;
}

.text h4 {
  color: #060a28;
  margin-bottom: .25em;
}

.text p {
  color: #060a28;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-left {
  flex: 1 1 65%;
}

.flex-right {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width:  100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.overlay.green {
  background-color: rgba(51, 155, 146, 0.5);
}

.overlay-content {
  /* height: 100%; */
  color: white;
  text-align: center;
}

.overlay-content * {
  font-size: 1.2em;
  margin: 0px;
}

.block {
  margin: 1em .5em 0em 0em;
  flex: 1;
  border: 0px;
  padding: 0px;
  line-height: inherit;
  height: inherit;
  font-size: inherit;
  height: 100% !important;
}

.last {
  margin: 1em 0em 0em 0em;
}

.video {
  width: 100%;
  min-height: 75px;
  height: 100%;
  /* max-height: 75px; */
  background-size: cover;
  background-position: center;
}

.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
}

.buttons {
  display:flex;
  flex-direction:column;
}

.center {
  text-align: center;
}

.spacing {
  padding: 1.5em 0em;
}

.big {
  display:none;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  background: white;
}

.top {
  margin-top: 2em;
}

.bottom {
  margin-bottom: 2em;
}

.big-bottom {
  margin-bottom: 5em;
}

.fluid {
  width:100%;
  height:100%;
}

.btn-mail, .btn-mail:hover {
  margin: 0em 1em .5em 0em;
  padding: .5em 3em;
  border-radius: 3em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  color: white;
  min-width: 100px;
  height: auto;
  font-size: inherit;
  line-height: inherit;
  border: 0px;
}

.outlook {
  background-color: #1d6fbf;
  border-bottom: .3em solid #0c345b;
}

.outlook:hover {
  background-color: #1d6fbf;
  /* transform: translateY(.3em); */
  margin-top: .3em;
}

.gmail {
  background-color: #e9443f;
  border-bottom: .3em solid #6a1f1c;
}

.gmail:hover {
  /* transform: translateY(.3em); */
  margin-top: .3em;
}

.yahoo {
  background-color: #3f008a;
  border-bottom: .3em solid #270b48;
}

.yahoo:hover {
  /* transform: translateY(.3em); */
  margin-top: .3em;
}

.btn-share {
  padding: .6em 3em !important;
  margin: 0em .5em;
}

/* .btn-share p {
   display:none; 
} */

.btn-whatsapp {
  background-color: #3cbea5;
  padding: .5em 2.5em !important;
  border-bottom: .3em solid #1b5449;
  border-radius: 3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.btn-facebook {
  background-color: #539cff;
  padding: .5em 1.5em !important;
  border-bottom: .3em solid #0266ae;
  border-radius: 3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.btn-whatsapp:hover {
  transform: translateY(.3em);
  opacity: 0.9;
  margin-top: .3em;
  border-bottom: none;
}

.btn-facebook:hover {
  transform: translateY(.3em);
  opacity: 0.9;
  margin-top: .3em;
  border-bottom: none;
}

.description {
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: .25em 0em;
  width: 100%;
  font-size: 1.5em;
  /* font-weight: bold; */
  text-align: center;
}

.red {
  text-transform: uppercase;
  background-color: #EC2A43;
  color: #fff;
  padding: .25em 0;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.hero-img {
  border-radius: 1em;
  padding: 1em;
  width: 25vw;
}

.text-center {
  text-align: center;
}

.body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.box {
  background: white;
  color: black;
  padding: 1em;
  border-radius: .5em;
}

.parallax {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.wrapper h3, h5 {
  padding: 0em 1em;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}

.footer {
  border-top: 1px solid #c0c4cf;
  background: white;
  width: 100%;
  text-align: center;
  padding: 1em 0em;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copyright {
  color: #c0c4cf;
  flex-grow: 1;
  text-align: center;
}

.copyright-logo {
  margin-top: 5px;
}

.page .container {
  flex-grow: 1;
}

.btn {
  background-image: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
  padding: .8em 3em;
  border-bottom: .3em solid #0266ae;
  border-radius: 3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  text-align:center;
}

.btn:hover {
  /* transform: translateY(.3em); */
  /* border-bottom: .3em solid transparent; */
  background-image: linear-gradient( -140deg, rgba(2,209,192, 0.8) 0%, rgba(3,133,227, 0.8) 100%);
  margin-top: .3em;
  border-bottom: none;
}

.right-gradient {
  border-right: 2px solid;
  border-image-source: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
  border-image-slice: 1;
}

.bottom-gradient {
  border-bottom: 2px solid;
  border-image-source: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
  border-image-slice: 1;
}

.gray-button, .gray-button:focus {
  text-align: left;
  border-radius: 0px;
  background: #42434e;
  color: white;
  padding: 15px 25px;
  font-weight: bold;
}

.gray-symbol {
  margin-top: 5px;
  margin-right: 25px;
  cursor: pointer;
}

.stack {
  border: 1px solid #e1e1e7 !important;
  color: white !important;
  background: #42434e !important;
  padding: 15px !important;
  font-weight: bold !important;
}

.founder {
  min-height: 840px !important;
}

.founder-bottom {
  background-color: #40414d;
}

.founder-left {
  min-height: 500px !important;
  max-height: 500px !important;
  margin: 0px;
  width: 50% !important;
  background:url('../assets/img/city.png');
  background-size: cover;
}

.founder-right {
  min-height: 500px !important;
  max-height: 500px !important;
  margin: 0px;
  width: 50% !important;
  background-color: #40414d;
}



.the-founder {
  /* width: 80%; */
  margin-bottom: -5px ;
}

.cover2 {
  min-height: 600px !important;
  background: url('../assets/img/backgrounds/bg-01.png')
}

.btn-block {
  padding: 20px 0px !important;
}

.triangle {
  top: -15px;
  margin-top: -15px;
}

.blue-bar {
  margin-top: -20px !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; 
}

.video-container iframe{
position: absolute;
top: 0;
left: 0;
}

.apresentation{
  margin-top: 30px;
  min-height: 500px;
}

@media (max-width: 768px) {
  .hidden-mobile{
    display: none;
  }
}

@media (min-width: 769px) {

  .hidden-desktop{
    display: none;
  }

  .founder {
    min-height: 500px !important;
  }
  .founder-bottom {
    display:none;
    background-color: #40414d;
  }

  #index .container-fluid {
    background: transparent;
    height: 100%;
  }

  #index .container {
    /* background: transparent; */
    height: 100%;
  }
  #cover2 { max-height:500px; }
  /* Rules for flex boxes */
  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex-left {
    flex: 1 1 65%;
  }

  .flex-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 75px;
    height: 100%;
    width:  100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .overlay.green {
    background-color: rgba(51, 155, 146, 0.5);
  }

  .overlay-content {
    /* height: 100%; */
    color: white;
    text-align: center;
  }

  .overlay-content * {
    font-size: 1.2em;
    margin: 0px;
  }

  .block {
    margin: 0em 0em .5em 1em;
    flex: 1;
    border: 0px;
    padding: 0px;
    line-height: inherit;
    height: inherit;
    font-size: inherit;
    height: 100% !important;
  }

  .last {
    margin: 0em 0em 0em 1em;
  }

  .video {
    width: 100%;
    min-height: 75px;
    height: 100%;
    /* max-height: 75px; */
    background-size: cover;
    background-position: center;
  }

  /* General rules */

  .buttons {
    display:flex;
    flex-direction:row;
  }
  .big {
    display:block;
    font-size: 9em;
    color: #c0c4cf;
  }
  .page .container {
    flex-grow: 1;
  }
  .page {
    background: transparent;
  }
  .box {
    background: transparent;
    color: white;
  }
  .hero-img {
    border-radius: 1em;
    padding: .5em;
    width: 50vw;
  }
  .mohub-logo {
    margin-top: 50px;
  }
  .copyright {
    margin-top: 8px;
    margin-left: 5px;
  }
  .copyright-logo {
    margin-right: 5px;
  }

  .btn {
    background-image: linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%);
    padding: .8em 6em;
    border-radius: 3em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    text-align: center;
  }

  .btn:hover {
    /* transform: translateY(.3em); */
    background-image: linear-gradient( -140deg, rgba(2,209,192, 0.8) 0%, rgba(3,133,227, 0.8) 100%);
    margin-top: .3em;
    border-bottom: none;
    /* border-bottom: .3em solid linear-gradient( -140deg, rgb(2,209,192) 0%, rgb(3,133,227) 100%); */
  }

  /*.btn:active {
    transform: translateY(.3em);
  }*/

  .btn-share p {
    display:inline;
  }

  .running {
    margin-bottom: 0em;
  }

  .blue {
    margin-bottom: 0em;
  }

  .btn-facebook {
    padding: .5em 2.5em;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}
